<p>subjects works!</p>


<div class="flex justify-end space-x-4 items-center">
  <p>Add new subject!</p>
  <div class="w-auto h-auto">
    <div class="flex-1 h-full">
      <div (click)="showAddForm = true" class="flex items-center justify-center flex-1 h-full p-2 bg-blue-800 text-white shadow rounded-full">
        <div class="relative">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
          </svg>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="overflow-hidden rounded-lg border border-gray-200 shadow-md m-5">
  <table class="w-full border-collapse bg-white text-left text-sm text-gray-500">
    <thead class="bg-gray-50">
    <tr>
      <th scope="col" class="px-6 py-4 font-medium text-gray-900">Subject Title</th>
      <th scope="col" class="px-6 py-4 font-medium text-gray-900">Subject parent</th>
      <th scope="col" class="px-6 py-4 font-medium text-gray-900">Role</th>
      <th scope="col" class="px-6 py-4 font-medium text-gray-900">Action</th>
    </tr>
    </thead>
    <tbody class="divide-y divide-gray-100 border-t border-gray-100">
    <tr *ngFor="let subject of subjects" class="hover:bg-gray-50">
      <!--      <th class="flex gap-3 px-6 py-4 font-normal text-gray-900">-->
      <!--        <div class="relative h-10 w-10">-->
      <!--          <img-->
      <!--            class="h-full w-full rounded-full object-cover object-center"-->
      <!--            src="https://images.unsplash.com/photo-1535713875002-d1d0cf377fde?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"-->
      <!--            alt=""-->
      <!--          />-->
      <!--          <span class="absolute right-0 bottom-0 h-2 w-2 rounded-full bg-green-400 ring ring-white"></span>-->
      <!--        </div>-->
      <!--        <div class="text-sm">-->
      <!--          <div class="font-medium text-gray-700">Steven Jobs</div>-->
      <!--          <div class="text-gray-400">jobs@sailboatui.com</div>-->
      <!--        </div>-->
      <!--      </th>-->
      <td class="px-6 py-4">
          <span
            class="inline-flex items-center gap-1 rounded-full bg-green-50 px-2 py-1 text-xs font-semibold text-green-600"
          >
            <span class="h-1.5 w-1.5 rounded-full bg-green-600"></span>
            {{ subject.title }}
          </span>
      </td>
      <td class="px-6 py-4">
          <span
            class="inline-flex items-center gap-1 rounded-full bg-green-50 px-2 py-1 text-xs font-semibold text-green-600"
          >
            <span class="h-1.5 w-1.5 rounded-full bg-green-600"></span>
            {{ subject.parent ? subject.parent.title : 'null' }}
          </span>
      </td>

      <td class="px-6 py-4"> {{ subject.subject_id }}</td>

      <td class="px-6 py-4">
        <div class="flex justify-start gap-4">
          <!--          <a x-data="{ tooltip: 'Delete' }" href="#">-->
          <button (click)="deleteSubject(subject.subject_id)">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="h-6 w-6"
              x-tooltip="tooltip"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0"
              />
            </svg>
          </button>
          <!--          </a>-->
          <!--          <a x-data="{ tooltip: 'Edit' }" [routerLink]="['/subjects', subject.subject_id]">-->
          <button (click)="updateSubject(subject.subject_id)">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="h-6 w-6"
              x-tooltip="tooltip"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L6.832 19.82a4.5 4.5 0 01-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 011.13-1.897L16.863 4.487zm0 0L19.5 7.125"
              />
            </svg>
          </button>
          <!--          </a>-->
        </div>
      </td>
    </tr>


    </tbody>
  </table>
</div>

<!-- Update form -->
<div *ngIf="isUpdateMode" class="fixed inset-0 flex items-center justify-center bg-gray-900 bg-opacity-50">
  <div class="bg-white rounded-lg p-6 max-w-md">
    Update form
    <form [formGroup]="updateForm" (ngSubmit)="submitUpdate()">
      <label for="subjectTitle" class="block mb-2">Subject's Description:</label>
      <input type="text" id="subjectTitle" name="subjectTitle" formControlName="subjectTitle"
             class="w-full border border-gray-300 rounded-md px-3 py-2 mb-4 focus:outline-none focus:border-blue-500">

      <label for="parentId" class="block mb-2">Subject's Parent:</label>
      <select id="parentId" name="parentId" formControlName="parentId"
              class="w-full border border-gray-300 rounded-md px-3 py-2 mb-4 focus:outline-none focus:border-blue-500">
        <option value="">Select Parent Subject</option>
        <option *ngFor="let subject of subjects" [value]="subject.subject_id">{{ subject.title }}</option>
      </select>

      <div class="flex justify-end">
        <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded-md mr-2">Update</button>
        <button type="button" (click)="cancelUpdate()" class="bg-gray-500 text-white px-4 py-2 rounded-md">Cancel</button>
      </div>
    </form>
  </div>
</div>
<!--add form-->

<div *ngIf="showAddForm" class="fixed inset-0 flex items-center justify-center bg-gray-900 bg-opacity-50">
  <div class="bg-white rounded-lg p-6 max-w-md">
    add form
    <form [formGroup]="addForm" (ngSubmit)="submitNewSubject()">
      <label for="newSubject" class="block mb-2">Subject's text:</label>
      <input type="text" id="newSubject" name="newSubject" formControlName="newSubject"
             class="w-full border border-gray-300 rounded-md px-3 py-2 mb-4 focus:outline-none focus:border-blue-500">

      <label for="parent" class="block mb-2">Subject's Parent:</label>
      <select id="parent" name="parent" formControlName="parent"
              class="w-full border border-gray-300 rounded-md px-3 py-2 mb-4 focus:outline-none focus:border-blue-500">
        <option value="">Select Parent Subject</option>
        <option *ngFor="let subject of subjects" [value]="subject.subject_id">{{ subject.title }}</option>
      </select>

      <div class="flex justify-end">
        <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded-md mr-2">Add</button>
        <button type="button" (click)="cancelAdd()" class="bg-gray-500 text-white px-4 py-2 rounded-md">Cancel</button>
      </div>
    </form>
  </div>
</div>

